@media (max-width: 991px) {
  .banner-section .banner-image {
    display: none;
  }

  .about-section .about-item {
    margin-bottom: 90px;
  }

  .info-section .info-item {
    margin-bottom: 70px;
  }

  .what-we-do-section .what-we-do-item {
    margin-bottom: 70px;
  }

  .get-in-touch .get-in-touch-item {
    margin-bottom: 70px;
  }

  .header .offcanvas-body {
    background-color: #3c59d5;
  }

  .header .modal-backdrop {
    z-index: unset;
  }

  .sponsor-section .sponsor-item .sponsor-logos {
    flex-wrap: wrap;
  }

  .sponsor-section .sponsor-item .sponsor-logos li {
    margin: 20px;
  }

  figure.snip1390 {
    max-width: 100%;
  }
}


@media (max-width: 767px) {
  .get-in-touch .get-in-touch-item button {
    width: 100%;
  }
}

@media (max-width: 476px) {
  .banner-section .banner-content h1 {
    font-size: 40px;
  }

  .sponsor-section .heading h2,
  .about-section .about-item .about-content h2,
  .service-section .service-heading h2,
  .info-section .info-item h2,
  .what-we-do-section .what-we-do-item h2,
  .pricing-section .heading h2,
  .pricing-plan-section .heading h2,
  .testimonials-section .heading h2,
  .blog-section .heading h2,
  .get-in-touch .get-in-touch-item h2 {
    font-size: 26px;
  }

  .pricing-plan-section .special-plans-item {
    padding: 50px 10px;
    margin: 0px 20px 25px 20px;
  }

  figure.snip1390 {
    margin: 0 0 25px 0;
  }

  .info-section .info-item .info-count-main {
    flex-wrap: wrap;
    align-items: start;
  }

  .what-we-do-section .what-we-do-item .category {
    height: 130px;
  }

}

@media (max-width: 360px) {

  .banner-section .btn-2,
  .banner-section .btn-3 {
    padding: 5px 30px;
  }
}